# Editor temporary files
#
*~
\#*\#
.\#*
*.swp
*.swo


# Other common temporary files
#
*.bak
*.old
*.orig
*.rbc
/tmp/*


# Bundler artifacts
#
/.bundle/
/Gemfile.lock
/vendor/bundle/


# RubyGems-related artifacts
#
/*.gem


# Testing artifacts and temp files
#
/coverage/
/test/reports/
/test/tmp/
**/test/version_tmp


# Documentation
#
/.yardoc
/_yardoc/
/doc/
/rdoc/


# Keep files
#
!**/.gitkeep
!**/.keep


